@model CaesarCipherViewModel

@{
    ViewData["Title"] = "Caesar Cipher";
}
<div class="card text-white bg-secondary border-light mb-3" style="max-width: auto;">
    <div class="card-header text-center border-light">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="card-body mb-3">
        <!-- INPUT -->
        <form asp-controller="Home" asp-action="CaesarCipher" method="post">
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="mb-3">
                                    <label class="form-label" asp-for="SelectedEncryptDecrypt">Cipher/Decipher: </label>
                                    <select class="form-select" asp-for="SelectedEncryptDecrypt" asp-items="Model.EncryptOrDecrypt">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="mb-3">
                                    <label class="form-label" asp-for="SelectedChiperIndex">Cipher Index: </label>
                                    <select class="form-select" asp-for="SelectedChiperIndex" asp-items="Model.CipherIndexes">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-8">
                        <div class="form-group">
                            <div class="row">
                                <div class="mb-3">
                                    <label asp-for="Input" class="form-label">Input string: </label>
                                    <input class="form-control" asp-for="Input" placeholder="Type text to cipher..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-8">
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Cipher Text</button>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </form>
        <!-- OUTPUT -->
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <div class="">
                    @if (Model.PreviousCiphersList != null)
                    {
                        @foreach (var item in Model.PreviousCiphersList)
                        {
                            <div class="card bg-success border-light">
                                <div class="card-body">
                                    <div class="row">
                                        <h6 class="alert-heading col-6">Type: @item.Type</h6>
                                        <h6 class="alert-heading col-6">Chiper Index: @item.ChiperIndex</h6>
                                    </div>
                                    <div class="row">
                                        <h6 class="alert-heading">Input: @item.Input</h6>
                                    </div>
                                    <div class="row">
                                        <h6 class="alert-heading">Hashing value: @item.Output</h6>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="card-footer border-light text-center">
        <p>Caesar Encryption - Only a true Roman understands...</p>
    </div>
</div>